[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
pyvisa = "*"
pandas = "*"
pyserial = "*"

[dev-packages]
spyder = "*"
spyder-terminal = "*"

[requires]
python_version = "3.13"
